<mat-card>
    <mat-card-content>
        This app attempts to provide an easy guide to analyze <a
            href="https://help.nextcloud.com/t/deck-upcoming-cards-how-does-the-filter-work-configurable/121690/2?u=stefan-niedermann">why
            your card does not appear in the upcoming cards view</a> of the <a
            href="https://apps.nextcloud.com/apps/deck">Nextcloud Deck</a> app.
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar>help</mat-icon>
        <mat-card-title>Describe your card</mat-card-title>
        <mat-card-subtitle>With these details we can tell you why your card is not shown</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <mat-slide-toggle formControlName="isDone" matTooltip="Available since Deck 1.12.0"
                matTooltipPosition="after">
                Is your card <strong>marked as completed</strong>?
            </mat-slide-toggle><br />
            <mat-slide-toggle formControlName="isSharedBoard">
                Is your card on a <strong>shared board</strong>?
            </mat-slide-toggle><br />
            <mat-slide-toggle formControlName="hasDueDate">
                Does your card have a <strong>due date</strong>?
            </mat-slide-toggle><br />
            <mat-slide-toggle formControlName="youAssigned">
                <strong>Are you assigned</strong> to this card?
            </mat-slide-toggle><br />
            <mat-slide-toggle formControlName="someoneElseAssigned">
                Is <strong>someone else assigned</strong> to this card?
            </mat-slide-toggle>
        </form>
    </mat-card-content>
</mat-card>
@if (cardIsVisible$ | async; as cardIsVisible === true) {
<ng-container [ngTemplateOutlet]="result" [ngTemplateOutletContext]="{cardIsVisible: true}"></ng-container>
} @else {
<ng-container [ngTemplateOutlet]="result" [ngTemplateOutletContext]="{cardIsVisible: false}"></ng-container>
}
<ng-template #result let-cardIsVisible="cardIsVisible">
    <mat-card class="result" [class.visible]="cardIsVisible">
        <mat-card-header>
            <mat-icon mat-card-avatar>{{cardIsVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-card-title>{{cardIsVisible ? 'Card is visible' : 'Card is not visible'}}</mat-card-title>
            <mat-card-subtitle>{{cardIsVisible ? 'Congratulations!' : 'Check out the hints below'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="explanation">
            <p>{{hint$ | async}}</p>
            @if ((hint$ | async) === Hint.CARD_SHOULD_BE_SHOWN) {
            <a mat-raised-button color="primary" matTooltip="The card is not shown?" matTooltipPosition="right"
                href="https://github.com/stefan-niedermann/upcoming-analyzer/issues/new" target="_blank">Report bug</a>
            }
        </mat-card-content>
    </mat-card>
</ng-template>
<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar>info</mat-icon>
        <mat-card-title>Rules</mat-card-title>
        <mat-card-subtitle>Learn in which cases a card appears in the upcoming view</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Starting with Deck 1.5 cards will appear in the upcoming view if they are <em>not marked as
                <code>completed</code></em> and additionally one of the following two cases matches:</p>
        <ul>
            <li>Card has a due date <strong>and</strong> card is in a not shared board</li>
            <li>Card is in a board which is also shared with others <strong>and</strong> one of the following two cases
                matches:
                <ul>
                    <li>card is assigned to you <strong>or</strong></li>
                    <li>card has a due date
                        <strong>and</strong>
                        nobody is assigned to the card
                    </li>
                </ul>
            </li>
        </ul>
        <p>The Deck Android app currently display cards which match this pattern <a
                href="https://github.com/stefan-niedermann/nextcloud-deck/issues/962" target="_blank">from
                <strong>all</strong> accounts</a>.</p>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <a mat-button target="_blank"
                href="https://github.com/nextcloud/deck/issues/new?assignees=&labels=&template=Feature_request.md">Propose
                change</a>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>
<mat-card>
    <mat-card-header>
        <img mat-card-avatar
            src="https://raw.githubusercontent.com/stefan-niedermann/nextcloud-deck/master/app/src/main/ic_launcher-web.png"
            alt="Launcher icon of the Nextcloud Deck Android app" />
        <mat-card-title>Nextcloud Deck</mat-card-title>
        <mat-card-subtitle>Android app</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/nextcloud-deck-android.jpg" alt="Photo of Nextcloud Deck Android app">
    <mat-card-content>
        <p>Did you know? There is an open source Android client for the Nextcloud Deck app, available at the <a
                href="https://play.google.com/store/apps/details?id=it.niedermann.nextcloud.deck.play">Google Play
                Store</a>.</p>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <a mat-button
                href="https://play.google.com/store/apps/details?id=it.niedermann.nextcloud.deck.play">Download</a>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>