:host {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1;

    @media (min-width: 640px) {
        max-width: 1024px;
        width: 80%;
        margin: auto;

        grid-template-columns: repeat(2, 50%);
        mat-card{
            &:first-child {
                grid-column: 1 / span 2
            }
        }
    }
}

mat-slide-toggle {
    display: block;
}

mat-icon {
    font-size: 40px;
    width: auto;
    height: auto;
}