:host {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1;

    @media (min-width: 640px) {
        max-width: 1024px;
        width: 80%;
        margin: auto;

        grid-template-columns: repeat(2, 50%);
        mat-card:first-child {
            grid-column: 1 / span 2
        }
    }
}

mat-card-content {
    line-height: 1.5;
}

mat-card-actions {
    text-transform: uppercase;
}

mat-slide-toggle {
    display: block;
}

mat-icon {
    font-size: 40px;
    width: auto;
    height: auto;
}

mat-card.result {
    background-image: linear-gradient(132deg, #600 0%, #400 70%, #622 70%, #622 73%, #400 73%, #400 77%, #511 77%, #511 78%, #400 78%, #500 100%);
    &.visible {
        background-image: linear-gradient(132deg, #060 0%, #040 70%, #262 70%, #262 73%, #040 73%, #040 77%, #151 77%, #151 78%, #040 78%, #050 100%);
    }
}