mat-card {
    max-width: 60rem;
    margin: 2rem auto;
}

p {
    font-family: monospace;
}

.license-avatar {
    background: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}